
.App {
  text-align: center;
}
.pct {
  background-image: url('https://s9.travelask.ru/uploads/post/000/005/420/main_image/full-ab9c42045c8c82ac34183bc379e9d3ac.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 510px;  
  
}
body {
  background-image: url('https://phonoteka.org/uploads/posts/2022-01/thumbs/1642904715_1-phonoteka-org-p-zvezdnoe-nebo-fon-1.jpg'); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.App-header {
  background-color: #5a17e1;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin: 10px;
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


li {
  list-style-type: none;
  display:inline-block;
}
.alfa0, .alfa4{
  position:relative;
  border: none;
  top:180px;
  }
.alfa1, .alfa3{
  position: relative;
  top: 65px;
  }
.alfa2{
  position: relative;
  bottom: 15px;
  }

button {
  font-size: 28px;
  padding: 5px;
  margin:20px;
  border-radius:8px;
  display:block;
  opacity: 82%;
  border: none;  
}
img {
  width: 120px;
  height: 90px;
  }
.Ans {
  background-color:antiquewhite;
  padding:32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(40, 12, 125);
  font-size: 38px;
}
.Noans{
  background-color: aqua;
  }
p{
 padding: 5px;
 font-size: 18px; 
}